<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
	 <title>Weather Now</title>
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body ng-controller="weatherCtrl">
<div class="container">
    <div class="row">
        <!-- full width on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-4 center-block nofloatcenter">
        
            <!-- Weather FORM STARTS HERE -->
            <div class="panel panel-default weather-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
							<h3 class="panel-title display-td" ng-if="place.city.name" >Current Weather For {{ place.city.name}}</h3>
							<h3 class="panel-title display-td" ng-if="!place.city.name" >Show Weather Information</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" ng-src="{{tempimagefilepath != 'UP' && tempimagefilepath || 'assets/images/sunrain.png'}}" >
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
				   <form ng-show="formshow" class="formpanel">
						 <div class="form-group">
							<div class="form-group">
								<label for="zip">Zip Code</label>
								<input id="zip" class="form-control " type="number" ng-model="zip" placeholder="e.g. 84105?" />
							</div>
						   <input class="btn btn-default col-lg-4 col-md-4" type="submit" value="Search" ng-click="findWeather(zip)" />
						 </div>
						<div class="clearfix"></div>
				   </form>
					<div ng-show="zip">Search the weather for: {{zip}}</div>
					<div class="panel-body">
						 <div class="col-xs-12">
							<table class="table" ng-show="resultshow">
								<thead> 
									<tr>
									<th>#</th>
									<th>Time</th>
									<th>Temperature</th>
								</thead>
							 <tbody ng-repeat="(key, value) in  place.list[0].temp">
								<tr >
									<td class="text-uppercase">{{$index+1}}</td>
									<td class="text-uppercase">{{key}}</td>
									<td>{{value}}</td>
								</tr>
							 </tbody>
							</table>
						 </div>
					</div>
				 </div>
			 </div>
		 </div>
	 </div>
</div>
 <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular.js"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
 <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>