.weather-box .display-table {
    display: table;
	width: 100%;
}
.weather-box .display-tr {
    display: table-row;
}
.weather-box .display-td {
    display: table-cell;
    vertical-align: middle;
}
.weather-box .panel-title {
    font-weight: bold;
}
.nofloatcenter{
	float:none;
	margin-top:140px;
}